* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-image: image();
    background-color: #effffb;
    font-family: 'Source Code Pro', monospace;
}

nav {
    background-color: #effffb;
    
}

.logo {
    width: 15rem;

}

.container {
    margin: 0 auto;
}

.container-nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #303030;
}

.container-nav p {
    color: #7FE367;
    font-family: 'Audiowide', cursive;
   
}


.container-question,
.container-nav,
.container-counter {
    width: 50%;
    margin: 0 auto;
    min-width: 400px;
}

.container-counter p {
    margin: 0;
    font-size: 1.25rem;
    text-align: center;
}

.question {
    display: none;
    padding: 1rem 2rem 5rem 2rem;
    background-color: #4f98ca;
    color: #303030;
    font-size: 1.5rem;
    height: 25rem;
}

.active {
    display: block;
}

label {
    display: block;
    margin: 1rem;   
    border: 1px solid #effffb;
    margin: 0.20rem;
    padding: 0.25rem;
    border-radius: 2rem;

}

.buttons {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row nowrap;
    justify-content: center;
}

button {
    background-color: #303030;
    font-family: 'Source Code Pro', monospace;
    padding: 0.25rem 2rem;
    font-size: 1.25rem;
    cursor: pointer;
    color: #7FE367;
    border: 1px solid #242323;
    outline: none;
    margin-top: 0.15rem;
}

button:active,
button:hover {
    transform: scale(1.05);
}

/* .disabled {
    background-color: rgb(194, 193, 193);
    cursor: not-allowed;
} */

.prev {
    border-radius: 2rem 0 0 2rem;
}

.next {
    border-radius: 0 2rem 2rem 0;
}

.correct {
    background-color: #7FE367;
    color: #ffffff;
    border-radius: 2rem;
}

.wrong {
    background-color: #B5060D;
    color: #ffffff;
    border-radius: 2rem;
}

@media (min-width: 670px) {
    .container-nav {
        flex-flow: row nowrap;
    }
}