* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-image: image();
    background-color: #effffb;
    font-family: 'Source Code Pro', monospace;
}

.container {
    width: 100%;
    margin: 0 auto;
    min-width: 300px;
}

#quiz-container,
#result {
    display: none;
}

.start,
.result {
    padding: 2rem;
    background-color: #303030;
    color: #7FE367;
    text-align: center;
    font-family: 'Audiowide', cursive;
}

.start img {
    width: 25rem;
    max-width: 100%;
    height: auto;
}

.start p {
    font-size: 1.25rem;
}

.start button,
.result button {
    font-family: 'Audiowide', cursive;
    background-color:#7FE367;
    color: #303030;
    border: 2px solid #303030;
    outline: none;
    padding: 0.75rem 3.5rem;
    font-size: 1.25rem;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: 0px 5px 0px #303030;
    transition: all ease 0.2s;
}

.start button:active,
.result button:active {
    background-color: #4f98ca;
    box-shadow: 0px 5px 0px #303030;
    transform: translateY(2px);
 }

.start button:hover,
.result button:hover {
    background-color: #4f98ca;
  }

.start .quote,
.result p {
    margin: 1rem auto;
    width: fit-content;
    border: 1.5px dashed #7FE367;
    border-radius: 2rem;
    padding: 1rem;
}



nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #303030;
}

nav p {
    color: #7FE367;
    font-family: 'Audiowide', cursive;
}

@media (min-width: 1000px) {
    nav {
        flex-flow: row nowrap;
    }

    .container {
        width: 50%;
    }
}

@media  (max-width: 1000px) and (min-width: 560px) {
    .container {
        width: 70%;
    }
    nav {
        flex-flow: row nowrap;
    }

  }

.container-nav img {
    width: 15rem;
}

.container-counter p {
    margin: 0;
    text-align: center;
    font-size: 1.15rem;
}

.container-main {
    background-color: #4f98ca;
    font-size: 1.5rem;
    padding: 1rem;
}

.option {
    margin: 1rem;   
    border: 1px solid #effffb;
    margin: 0.20rem;
    padding: 0.25rem;
    border-radius: 2rem;  
    width: 100%;
}

.option-container {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: stretch;
}

.correct {
    background-color: #7FE367;
    color: white;
}

.wrong {
    background-color: maroon;
    color: white;
}


.container-main .quote {
    margin: 2rem auto;
    width: fit-content;
    border: 1.5px dashed #303030;
    border-radius: 2rem;
    padding: 1rem;
    color: #effffb;
    font-size: 1rem;
}

footer p {
    background-color: #4f98ca;
    margin: 0;
    padding: 1rem;
    text-align: right;
}

.next-btn {
    background-color: #303030;
    font-family: 'Source Code Pro', monospace;
    padding: 0.25rem 2rem;
    font-size: 1.25rem;
    cursor: pointer;
    color: #7FE367;
    border: 1px solid #242323;
    outline: none;
    margin: 0.15rem 0 1rem 3rem;
    border-radius: 2rem;
}

.next-btn:active,
.next-btn:hover {
    transform: scale(1.05);
}

.next-btn:disabled {
    cursor: not-allowed;
    transform: scale(1.0);
    opacity: 0.5;
}

.result {
    text-align: center;
    margin-top: 2rem;
}